In [1]:
import pandas as pd
from proj_acquire import *
from proj_prepare import *

In [2]:
def peekatdata(df):
    '''gives cursory sample of dataframe passed'''
    head_df = df.head(5)
    print(head_df)
    tail_df = df.tail(5)
    print(tail_df)
    shape_tuple = df.shape
    print(shape_tuple)
    describe_df = df.describe()
    print(describe_df)
    df.info()

In [3]:
def sort_col_val(df_name):
    df = df_name.copy()
    df_cols = df_name.columns
    for col in df_cols:
        print('Sorted by ' + str(col) + ':')
        print('Head:')
        print(df[[col]].sort_values(by=[col]).head(3))
        print(' ')
        print('Tail: ')
        print(df[[col]].sort_values(by=[col]).tail(3))
        print('-----')

        
def missing_values_col(df):
    """
    Write or use a previously written function to return the
    total missing values and the percent missing values by column.
    """
    df = df.copy()
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    return pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_count': nan_count, 'nan_percentage': nan_percentage})

# The code below by Ednalyn de Dios.
def missing_values_row(df):
    """
    Write or use a previously written function to return the
    total missing values and the percent missing values by row.
    """
    df = df.copy()
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})


# The code below by Ednalyn de Dios.
def amount_of_missing_values_in_columns(df):
    '''
    Write or use a previously written function to return the
    total missing values and the percent missing values by column.
    
    Puts all that info into a dataframe with each original feature
    being a row.
    
    Returns a dataframe that only contains rows that have missing values.
    '''
    df = df.copy()
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    total_count = null_count + empty_count + nan_count
    total_percentage = null_percentage + empty_percentage + nan_percentage

    missing_df = pd.DataFrame({'total_missing': total_count, 'total_percentage': total_percentage,
                        'num_missing': null_count, 'missing_percentage': null_percentage,
                        'num_empty': empty_count, 'empty_percentage': empty_percentage,
                        'nan_count': nan_count, 'nan_percentage': nan_percentage})
    
    return missing_df[(missing_df != 0).any(1)]

def df_summary(df):
    # pd.options.display.max_columns = 4 # this prints ONLY 4 columns
    # rather than wrapping and printing 4 per row
    
    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    print('--- Top and Bottom:')
    print(sort_col_val(df), end='\n\n')

    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')    
    print(f'--- Shape:\n{df.shape}', end='\n\n')

    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    print(f'--- Info:\n')
    print(df.info(), end='\n\n')
    
    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    # A sparse array is one that contains mostly zeros and few non-zero 
    # entries. A dense array contains mostly non-zeros.
    print(f'--- Check if all ftypes are dense:\n')
    print('A sparse array is one that contains mostly zeros and few non-zero')
    print('entries. A dense array contains mostly non-zeros.')
    print(df.ftypes.value_counts(), end='\n\n')
    
    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    print(f'--- Descriptions:')
    print(df.describe(include='all'), end='\n\n')

    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    #print(f'--- Nulls By Column:\n{df.isna().sum()}', end='\n\n')
    print(f'---Nulls By Columns:')
    print(missing_values_col(df), end='\n\n')
    
    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    print(f'--- Summary of Nulls by Rows:')
    print(missing_values_row(df), end='\n\n')
       
    print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
    print(f'--- amount of missing values in columns:')
    print(amount_of_missing_values_in_columns(df), end='\n\n')
    
#     print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
#     print('--- Value Counts of the following columns:')
#     columns = ['hvac', 'landusedesc', 'regionidcounty', 'fips', 'bldgqualtype']
#     for col in columns:
#         print(col, df[col].value_counts(dropna=False))
#     print()
#     print()
#     print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
                                
#     print('df.age.value_counts binned:')
#     print(df.age.value_counts(bins=[18, 26, 32, 40, 50, 80]), end='\n\n')
    
#     print('df.select_dtypes("number"):')
#     for col in df.select_dtypes('number'):
#           print(col)
#           print(df[col].value_counts(bins=4))
#     print()
#     print()

In [4]:
df = prepare_fitbit() # prepare also calls aquire

In [5]:
df.head(10)

,index,activity_calories,distance,floors,mins_active_high,mins_active_light,mins_active_med,mins_sedentary,steps,total_calories,calories,carbs,fat,fiber,protien,sodium,water
0,2018-04-26,566,1.38,2,0,93,0,"1,347","2,931","2,635",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
1,2018-04-27,"1,752",4.7,19,17,219,46,"1,158","9,971","3,649",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
2,2018-04-28,"1,124",1.66,2,11,155,22,702,"3,521","3,379",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
3,2018-04-29,602,0.77,0,0,122,0,891,"1,639","2,851",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
4,2018-04-30,540,0.62,0,0,104,0,880,"1,323","2,825",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
5,2018-05-01,"1,068",1.22,0,2,167,13,919,"2,581","3,292",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
6,2018-05-02,419,0.65,0,0,90,0,927,"1,372","2,660",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
7,2018-05-03,"1,006",1.05,0,0,157,16,876,"2,232","3,121",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
8,2018-05-04,269,0.43,1,0,61,0,"1,012",904,"2,522",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz
9,2018-05-05,326,0.39,0,0,68,0,969,833,"2,551",0,0 g,0 g,0 g,0 g,0 mg,0 fl oz

In [6]:
df_summary(df)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Top and Bottom:
Sorted by index:
Head:
       index
0 2018-04-26
1 2018-04-27
2 2018-04-28

Tail:
         index
244 2018-12-26
245 2018-12-27
246 2018-12-28
-----
Sorted by activity_calories:
Head:
    activity_calories
127                 0
77                  0
73                  0

Tail:
    activity_calories
244               NaN
245               NaN
246               NaN
-----
Sorted by distance:
Head:
    distance
133        0
72         0
125        0

Tail:
    distance
244      NaN
245      NaN
246      NaN
-----
Sorted by floors:
Head:
   floors
77      0
27      0
28      0

Tail:
    floors
244    NaN
245    NaN
246    NaN
-----
Sorted by mins_active_high:
Head:
    mins_active_high
0                  0
41                 0
196                0

Tail:
    mins_active_high
244              NaN
245              NaN
246              NaN
-----
Sorted by mins_active_light:
Head:
   mins_active_light
72                 0
92                 0
77                 0

Tail:
    mins_active_light
244               NaN
245               NaN
246               NaN
-----
Sorted by mins_active_med:
Head:
    mins_active_med
0                 0
207               0
41                0

Tail:
    mins_active_med
244             NaN
245             NaN
246             NaN
-----
Sorted by mins_sedentary:
Head:
    mins_sedentary
128          1,005
8            1,012
129          1,024

Tail:
    mins_sedentary
244            NaN
245            NaN
246            NaN
-----
Sorted by steps:
Head:
    steps
72      0
133     0
132     0

Tail:
    steps
244   NaN
245   NaN
246   NaN
-----
Sorted by total_calories:
Head:
    total_calories
130          2,144
92           2,144
133          2,144

Tail:
    total_calories
244            NaN
245            NaN
246            NaN
-----
Sorted by calories:
Head:
    calories
0          0
152        0
153        0

Tail:
    calories
168    2,276
164      600
167      807
-----
Sorted by carbs:
Head:
    carbs
0     0 g
152   0 g
153   0 g

Tail:
     carbs
168  291 g
167   34 g
164   47 g
-----
Sorted by fat:
Head:
     fat
0    0 g
152  0 g
153  0 g

Tail:
      fat
162  77 g
163  81 g
168  83 g
-----
Sorted by fiber:
Head:
    fiber
0     0 g
152   0 g
153   0 g

Tail:
    fiber
167   4 g
168  52 g
163   8 g
-----
Sorted by protien:
Head:
    protien
0       0 g
152     0 g
153     0 g

Tail:
    protien
163    95 g
168    97 g
162    99 g
-----
Sorted by sodium:
Head:
    sodium
0     0 mg
152   0 mg
153   0 mg

Tail:
       sodium
168  5,639 mg
162  6,550 mg
164    780 mg
-----
Sorted by water:
Head:
       water
0    0 fl oz
156  0 fl oz
157  0 fl oz

Tail:
       water
89   0 fl oz
91   0 fl oz
246  0 fl oz
-----
None

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Shape:
(247, 17)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 246
Data columns (total 17 columns):
index                247 non-null datetime64[ns]
activity_calories    225 non-null object
distance             225 non-null object
floors               225 non-null object
mins_active_high     225 non-null object
mins_active_light    225 non-null object
mins_active_med      225 non-null object
mins_sedentary       225 non-null object
steps                225 non-null object
total_calories       225 non-null object
calories             247 non-null object
carbs                247 non-null object
fat                  247 non-null object
fiber                247 non-null object
protien              247 non-null object
sodium               247 non-null object
water                247 non-null object
dtypes: datetime64[ns](1), object(16)
memory usage: 34.7+ KB
None

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Check if all ftypes are dense:

A sparse array is one that contains mostly zeros and few non-zero
entries. A dense array contains mostly non-zeros.
object:dense            16
datetime64[ns]:dense     1
dtype: int64

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Descriptions:
                      index activity_calories distance floors  \
count                   247               225      225    225
unique                  247               207      188     38
top     2018-05-04 00:00:00                 0        0      0
freq                      1                 9       12     31
first   2018-04-26 00:00:00               NaN      NaN    NaN
last    2018-12-28 00:00:00               NaN      NaN    NaN

       mins_active_high mins_active_light mins_active_med mins_sedentary  \
count               225               225             225            225
unique               87               131              53            181
top                   0                 0               0          1,440
freq                 51                 9              46              9
first               NaN               NaN             NaN            NaN
last                NaN               NaN             NaN            NaN

       steps total_calories calories carbs  fat fiber protien sodium    water
count    225            225      247   247  247   247     247    247      247
unique   213            207        9     9    9     7       9      9        1
top        0          2,145        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
freq      12              4      239   239  239   239     239    239      247
first    NaN            NaN      NaN   NaN  NaN   NaN     NaN    NaN      NaN
last     NaN            NaN      NaN   NaN  NaN   NaN     NaN    NaN      NaN

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
---Nulls By Columns:
                   num_missing  missing_percentage  num_empty  \
index                        0            0.000000          0
activity_calories           22            8.906883          0
distance                    22            8.906883          0
floors                      22            8.906883          0
mins_active_high            22            8.906883          0
mins_active_light           22            8.906883          0
mins_active_med             22            8.906883          0
mins_sedentary              22            8.906883          0
steps                       22            8.906883          0
total_calories              22            8.906883          0
calories                     0            0.000000          0
carbs                        0            0.000000          0
fat                          0            0.000000          0
fiber                        0            0.000000          0
protien                      0            0.000000          0
sodium                       0            0.000000          0
water                        0            0.000000          0

                   empty_percentage  nan_count  nan_percentage
index                           0.0          0             0.0
activity_calories               0.0          0             0.0
distance                        0.0          0             0.0
floors                          0.0          0             0.0
mins_active_high                0.0          0             0.0
mins_active_light               0.0          0             0.0
mins_active_med                 0.0          0             0.0
mins_sedentary                  0.0          0             0.0
steps                           0.0          0             0.0
total_calories                  0.0          0             0.0
calories                        0.0          0             0.0
carbs                           0.0          0             0.0
fat                             0.0          0             0.0
fiber                           0.0          0             0.0
protien                         0.0          0             0.0
sodium                          0.0          0             0.0
water                           0.0          0             0.0

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Summary of Nulls by Rows:
     num_missing  percentage
0              0    0.000000
1              0    0.000000
2              0    0.000000
3              0    0.000000
4              0    0.000000
5              0    0.000000
6              0    0.000000
7              0    0.000000
8              0    0.000000
9              0    0.000000
10             0    0.000000
11             0    0.000000
12             0    0.000000
13             0    0.000000
14             0    0.000000
15             0    0.000000
16             0    0.000000
17             0    0.000000
18             0    0.000000
19             0    0.000000
20             0    0.000000
21             0    0.000000
22             0    0.000000
23             0    0.000000
24             0    0.000000
25             0    0.000000
26             0    0.000000
27             0    0.000000
28             0    0.000000
29             0    0.000000
..           ...         ...
217            0    0.000000
218            0    0.000000
219            0    0.000000
220            0    0.000000
221            0    0.000000
222            0    0.000000
223            0    0.000000
224            0    0.000000
225            9   52.941176
226            9   52.941176
227            9   52.941176
228            9   52.941176
229            9   52.941176
230            9   52.941176
231            9   52.941176
232            9   52.941176
233            9   52.941176
234            9   52.941176
235            9   52.941176
236            9   52.941176
237            9   52.941176
238            9   52.941176
239            9   52.941176
240            9   52.941176
241            9   52.941176
242            9   52.941176
243            9   52.941176
244            9   52.941176
245            9   52.941176
246            9   52.941176

[247 rows x 2 columns]

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- amount of missing values in columns:
                   total_missing  total_percentage  num_missing  \
activity_calories             22          8.906883           22
distance                      22          8.906883           22
floors                        22          8.906883           22
mins_active_high              22          8.906883           22
mins_active_light             22          8.906883           22
mins_active_med               22          8.906883           22
mins_sedentary                22          8.906883           22
steps                         22          8.906883           22
total_calories                22          8.906883           22

                   missing_percentage  num_empty  empty_percentage  nan_count  \
activity_calories            8.906883          0               0.0          0
distance                     8.906883          0               0.0          0
floors                       8.906883          0               0.0          0
mins_active_high             8.906883          0               0.0          0
mins_active_light            8.906883          0               0.0          0
mins_active_med              8.906883          0               0.0          0
mins_sedentary               8.906883          0               0.0          0
steps                        8.906883          0               0.0          0
total_calories               8.906883          0               0.0          0

                   nan_percentage
activity_calories             0.0
distance                      0.0
floors                        0.0
mins_active_high              0.0
mins_active_light             0.0
mins_active_med               0.0
mins_sedentary                0.0
steps                         0.0
total_calories                0.0

In [7]:
peekatdata(df)

       index activity_calories distance floors mins_active_high  \
0 2018-04-26               566     1.38      2                0
1 2018-04-27             1,752      4.7     19               17
2 2018-04-28             1,124     1.66      2               11
3 2018-04-29               602     0.77      0                0
4 2018-04-30               540     0.62      0                0

  mins_active_light mins_active_med mins_sedentary  steps total_calories  \
0                93               0          1,347  2,931          2,635
1               219              46          1,158  9,971          3,649
2               155              22            702  3,521          3,379
3               122               0            891  1,639          2,851
4               104               0            880  1,323          2,825

  calories carbs  fat fiber protien sodium    water
0        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
1        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
2        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
3        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
4        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
         index activity_calories distance floors mins_active_high  \
242 2018-12-24               NaN      NaN    NaN              NaN
243 2018-12-25               NaN      NaN    NaN              NaN
244 2018-12-26               NaN      NaN    NaN              NaN
245 2018-12-27               NaN      NaN    NaN              NaN
246 2018-12-28               NaN      NaN    NaN              NaN

    mins_active_light mins_active_med mins_sedentary steps total_calories  \
242               NaN             NaN            NaN   NaN            NaN
243               NaN             NaN            NaN   NaN            NaN
244               NaN             NaN            NaN   NaN            NaN
245               NaN             NaN            NaN   NaN            NaN
246               NaN             NaN            NaN   NaN            NaN

    calories carbs  fat fiber protien sodium    water
242        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
243        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
244        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
245        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
246        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
(247, 17)
                      index activity_calories distance floors  \
count                   247               225      225    225
unique                  247               207      188     38
top     2018-05-04 00:00:00                 0        0      0
freq                      1                 9       12     31
first   2018-04-26 00:00:00               NaN      NaN    NaN
last    2018-12-28 00:00:00               NaN      NaN    NaN

       mins_active_high mins_active_light mins_active_med mins_sedentary  \
count               225               225             225            225
unique               87               131              53            181
top                   0                 0               0          1,440
freq                 51                 9              46              9
first               NaN               NaN             NaN            NaN
last                NaN               NaN             NaN            NaN

       steps total_calories calories carbs  fat fiber protien sodium    water
count    225            225      247   247  247   247     247    247      247
unique   213            207        9     9    9     7       9      9        1
top        0          2,145        0   0 g  0 g   0 g     0 g   0 mg  0 fl oz
freq      12              4      239   239  239   239     239    239      247
first    NaN            NaN      NaN   NaN  NaN   NaN     NaN    NaN      NaN
last     NaN            NaN      NaN   NaN  NaN   NaN     NaN    NaN      NaN
<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 246
Data columns (total 17 columns):
index                247 non-null datetime64[ns]
activity_calories    225 non-null object
distance             225 non-null object
floors               225 non-null object
mins_active_high     225 non-null object
mins_active_light    225 non-null object
mins_active_med      225 non-null object
mins_sedentary       225 non-null object
steps                225 non-null object
total_calories       225 non-null object
calories             247 non-null object
carbs                247 non-null object
fat                  247 non-null object
fiber                247 non-null object
protien              247 non-null object
sodium               247 non-null object
water                247 non-null object
dtypes: datetime64[ns](1), object(16)
memory usage: 34.7+ KB

In [8]:
# We were going to clean data, but so much of these columns were 
# zeros that we decided to drop the columns instead.

# for col in columns:
#     df[col] = df[col].str.replace(',', '')
#     df[col] = df[col].str.replace('g', '')
#     df[col] = df[col].str.replace('mg', '')
#     df[col] = df[col].str.replace('fl oz', '')
#     df[col] = df[col].str.replace('m', '')
#     df[col] = df[col].astype(float)
# df.head(10)

In [9]:
df.set_index('index', inplace=True)

to_drop = ['calories', 'carbs', 'fat', 'fiber',
       'protien', 'sodium', 'water']
df = df.drop(columns=(to_drop))

for col in df:
    df[col] = df[col].str.replace(',', '')
    df[col] = df[col].astype('float64')
    
df.dropna(inplace=True)

In [10]:
df_summary(df)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Top and Bottom:
Sorted by activity_calories:
Head:
            activity_calories
index
2018-07-03                0.0
2018-06-06                0.0
2018-06-30                0.0

Tail:
            activity_calories
index
2018-10-07             3344.0
2018-11-18             3373.0
2018-09-22             3596.0
-----
Sorted by distance:
Head:
            distance
index
2018-06-11       0.0
2018-07-06       0.0
2018-07-05       0.0

Tail:
            distance
index
2018-11-04     10.05
2018-11-17     10.06
2018-11-18     12.00
-----
Sorted by floors:
Head:
            floors
index
2018-05-29     0.0
2018-08-24     0.0
2018-06-27     0.0

Tail:
            floors
index
2018-10-16   162.0
2018-11-22   177.0
2018-12-02   195.0
-----
Sorted by mins_active_high:
Head:
            mins_active_high
index
2018-04-26               0.0
2018-07-04               0.0
2018-08-26               0.0

Tail:
            mins_active_high
index
2018-08-17             125.0
2018-11-09             131.0
2018-11-18             154.0
-----
Sorted by mins_active_light:
Head:
            mins_active_light
index
2018-06-27                0.0
2018-07-06                0.0
2018-06-06                0.0

Tail:
            mins_active_light
index
2018-10-07              329.0
2018-11-17              347.0
2018-10-21              349.0
-----
Sorted by mins_active_med:
Head:
            mins_active_med
index
2018-04-26              0.0
2018-05-24              0.0
2018-07-05              0.0

Tail:
            mins_active_med
index
2018-05-18             67.0
2018-10-07             76.0
2018-09-22             78.0
-----
Sorted by mins_sedentary:
Head:
            mins_sedentary
index
2018-08-26            28.0
2018-10-07           402.0
2018-10-21           437.0

Tail:
            mins_sedentary
index
2018-07-06          1440.0
2018-06-06          1440.0
2018-06-28          1440.0
-----
Sorted by steps:
Head:
            steps
index
2018-06-11    0.0
2018-07-06    0.0
2018-07-05    0.0

Tail:
              steps
index
2018-10-07  20396.0
2018-11-04  21302.0
2018-11-18  25512.0
-----
Sorted by total_calories:
Head:
            total_calories
index
2018-08-26           799.0
2018-07-03          2144.0
2018-06-26          2144.0

Tail:
            total_calories
index
2018-08-05          4818.0
2018-11-18          4832.0
2018-09-22          5199.0
-----
None

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Shape:
(225, 9)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Info:

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 9 columns):
activity_calories    225 non-null float64
distance             225 non-null float64
floors               225 non-null float64
mins_active_high     225 non-null float64
mins_active_light    225 non-null float64
mins_active_med      225 non-null float64
mins_sedentary       225 non-null float64
steps                225 non-null float64
total_calories       225 non-null float64
dtypes: float64(9)
memory usage: 17.6 KB
None

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Check if all ftypes are dense:

A sparse array is one that contains mostly zeros and few non-zero
entries. A dense array contains mostly non-zeros.
float64:dense    9
dtype: int64

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Descriptions:
       activity_calories    distance      floors  mins_active_high  \
count         225.000000  225.000000  225.000000        225.000000
mean         1484.546667    4.046800   12.591111         33.871111
std           747.795790    2.506253   25.844174         37.195986
min             0.000000    0.000000    0.000000          0.000000
25%          1062.000000    2.220000    2.000000          2.000000
50%          1481.000000    3.680000    7.000000         15.000000
75%          1962.000000    5.900000   13.000000         63.000000
max          3596.000000   12.000000  195.000000        154.000000

       mins_active_light  mins_active_med  mins_sedentary         steps  \
count         225.000000       225.000000      225.000000    225.000000
mean          188.235556        14.920000      809.520000   8536.186667
std            75.170001        15.363535      243.232639   5255.746608
min             0.000000         0.000000       28.000000      0.000000
25%           158.000000         3.000000      654.000000   4714.000000
50%           203.000000        11.000000      750.000000   7806.000000
75%           236.000000        21.000000      877.000000  12380.000000
max           349.000000        78.000000     1440.000000  25512.000000

       total_calories
count      225.000000
mean      3401.911111
std        632.426578
min        799.000000
25%       3069.000000
50%       3385.000000
75%       3765.000000
max       5199.000000

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
---Nulls By Columns:
                   num_missing  missing_percentage  num_empty  \
activity_calories            0                 0.0          0
distance                     0                 0.0          0
floors                       0                 0.0          0
mins_active_high             0                 0.0          0
mins_active_light            0                 0.0          0
mins_active_med              0                 0.0          0
mins_sedentary               0                 0.0          0
steps                        0                 0.0          0
total_calories               0                 0.0          0

                   empty_percentage  nan_count  nan_percentage
activity_calories               0.0          0             0.0
distance                        0.0          0             0.0
floors                          0.0          0             0.0
mins_active_high                0.0          0             0.0
mins_active_light               0.0          0             0.0
mins_active_med                 0.0          0             0.0
mins_sedentary                  0.0          0             0.0
steps                           0.0          0             0.0
total_calories                  0.0          0             0.0

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- Summary of Nulls by Rows:
            num_missing  percentage
index
2018-04-26            0         0.0
2018-04-27            0         0.0
2018-04-28            0         0.0
2018-04-29            0         0.0
2018-04-30            0         0.0
2018-05-01            0         0.0
2018-05-02            0         0.0
2018-05-03            0         0.0
2018-05-04            0         0.0
2018-05-05            0         0.0
2018-05-06            0         0.0
2018-05-07            0         0.0
2018-05-08            0         0.0
2018-05-09            0         0.0
2018-05-10            0         0.0
2018-05-11            0         0.0
2018-05-12            0         0.0
2018-05-13            0         0.0
2018-05-14            0         0.0
2018-05-15            0         0.0
2018-05-16            0         0.0
2018-05-17            0         0.0
2018-05-18            0         0.0
2018-05-19            0         0.0
2018-05-20            0         0.0
2018-05-21            0         0.0
2018-05-22            0         0.0
2018-05-23            0         0.0
2018-05-24            0         0.0
2018-05-25            0         0.0
...                 ...         ...
2018-08-06            0         0.0
2018-08-07            0         0.0
2018-08-08            0         0.0
2018-08-09            0         0.0
2018-08-10            0         0.0
2018-08-11            0         0.0
2018-08-12            0         0.0
2018-08-13            0         0.0
2018-08-14            0         0.0
2018-08-15            0         0.0
2018-08-16            0         0.0
2018-08-17            0         0.0
2018-08-18            0         0.0
2018-08-19            0         0.0
2018-08-20            0         0.0
2018-08-21            0         0.0
2018-08-22            0         0.0
2018-08-23            0         0.0
2018-08-24            0         0.0
2018-08-25            0         0.0
2018-08-26            0         0.0
2018-11-28            0         0.0
2018-11-29            0         0.0
2018-11-30            0         0.0
2018-12-01            0         0.0
2018-12-02            0         0.0
2018-12-03            0         0.0
2018-12-04            0         0.0
2018-12-05            0         0.0
2018-12-06            0         0.0

[225 rows x 2 columns]

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
--- amount of missing values in columns:
Empty DataFrame
Columns: [total_missing, total_percentage, num_missing, missing_percentage, num_empty, empty_percentage, nan_count, nan_percentage]
Index: []

In [11]:
peekatdata(df)

            activity_calories  distance  floors  mins_active_high  \
index
2018-04-26              566.0      1.38     2.0               0.0
2018-04-27             1752.0      4.70    19.0              17.0
2018-04-28             1124.0      1.66     2.0              11.0
2018-04-29              602.0      0.77     0.0               0.0
2018-04-30              540.0      0.62     0.0               0.0

            mins_active_light  mins_active_med  mins_sedentary   steps  \
index
2018-04-26               93.0              0.0          1347.0  2931.0
2018-04-27              219.0             46.0          1158.0  9971.0
2018-04-28              155.0             22.0           702.0  3521.0
2018-04-29              122.0              0.0           891.0  1639.0
2018-04-30              104.0              0.0           880.0  1323.0

            total_calories
index
2018-04-26          2635.0
2018-04-27          3649.0
2018-04-28          3379.0
2018-04-29          2851.0
2018-04-30          2825.0
            activity_calories  distance  floors  mins_active_high  \
index
2018-12-02             2305.0      6.23   195.0              70.0
2018-12-03             1993.0      6.12     6.0              51.0
2018-12-04             1663.0      6.49    13.0              67.0
2018-12-05             1968.0      6.52    12.0              69.0
2018-12-06             1962.0      6.96     9.0              78.0

            mins_active_light  mins_active_med  mins_sedentary    steps  \
index
2018-12-02              265.0             13.0           725.0  13257.0
2018-12-03              219.0             40.0           782.0  12915.0
2018-12-04              199.0             11.0           608.0  13763.0
2018-12-05              200.0             12.0           739.0  13865.0
2018-12-06              198.0              4.0           647.0  14774.0

            total_calories
index
2018-12-02          3957.0
2018-12-03          3660.0
2018-12-04          3384.0
2018-12-05          3670.0
2018-12-06          3669.0
(225, 9)
       activity_calories    distance      floors  mins_active_high  \
count         225.000000  225.000000  225.000000        225.000000
mean         1484.546667    4.046800   12.591111         33.871111
std           747.795790    2.506253   25.844174         37.195986
min             0.000000    0.000000    0.000000          0.000000
25%          1062.000000    2.220000    2.000000          2.000000
50%          1481.000000    3.680000    7.000000         15.000000
75%          1962.000000    5.900000   13.000000         63.000000
max          3596.000000   12.000000  195.000000        154.000000

       mins_active_light  mins_active_med  mins_sedentary         steps  \
count         225.000000       225.000000      225.000000    225.000000
mean          188.235556        14.920000      809.520000   8536.186667
std            75.170001        15.363535      243.232639   5255.746608
min             0.000000         0.000000       28.000000      0.000000
25%           158.000000         3.000000      654.000000   4714.000000
50%           203.000000        11.000000      750.000000   7806.000000
75%           236.000000        21.000000      877.000000  12380.000000
max           349.000000        78.000000     1440.000000  25512.000000

       total_calories
count      225.000000
mean      3401.911111
std        632.426578
min        799.000000
25%       3069.000000
50%       3385.000000
75%       3765.000000
max       5199.000000
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 9 columns):
activity_calories    225 non-null float64
distance             225 non-null float64
floors               225 non-null float64
mins_active_high     225 non-null float64
mins_active_light    225 non-null float64
mins_active_med      225 non-null float64
mins_sedentary       225 non-null float64
steps                225 non-null float64
total_calories       225 non-null float64
dtypes: float64(9)
memory usage: 17.6 KB

In [12]:
count_zeroes = 225 - df.astype(bool).sum(axis=0)
count_zeroes

activity_calories     9
distance             12
floors               31
mins_active_high     51
mins_active_light     9
mins_active_med      46
mins_sedentary        0
steps                12
total_calories        0
dtype: int64

In [13]:
df.describe()

,activity_calories,distance,floors,mins_active_high,mins_active_light,mins_active_med,mins_sedentary,steps,total_calories
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000
mean,1484.546667,4.046800,12.591111,33.871111,188.235556,14.920000,809.520000,8536.186667,3401.911111
std,747.795790,2.506253,25.844174,37.195986,75.170001,15.363535,243.232639,5255.746608,632.426578
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,0.000000,799.000000
25%,1062.000000,2.220000,2.000000,2.000000,158.000000,3.000000,654.000000,4714.000000,3069.000000
50%,1481.000000,3.680000,7.000000,15.000000,203.000000,11.000000,750.000000,7806.000000,3385.000000
75%,1962.000000,5.900000,13.000000,63.000000,236.000000,21.000000,877.000000,12380.000000,3765.000000
max,3596.000000,12.000000,195.000000,154.000000,349.000000,78.000000,1440.000000,25512.000000,5199.000000